<figure>
  <%= image_tag Gravatar.new(@friend.email).image_url(s: 300) %>
  <p><%= @friend.name %>, <strong><%= @friend.age %> años</strong></p>

  <button class="like">
    <%= link_to "Me Gusta", friends_like_path(id: @friend, liked: true), method: :post %>
  </button>
  <button class="nolike">
    <%= link_to "No Me Gusta", friends_like_path(id: @friend, liked: false), method: :post %>
  </button>
</figure>

<!-- Carrousel -->
	<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
		<!-- Indicators -->
		<ol class="carousel-indicators">
			<li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
			<li data-target="#carousel-example-generic" data-slide-to="1"></li>
			<li data-target="#carousel-example-generic" data-slide-to="2"></li>
		</ol>

		<!-- Wrapper for slides -->
		<div class="carousel-inner" id="mujer">
			<div class="item active">
				<img src="http://i.huffpost.com/gen/1082546/thumbs/o-MOST-SUCCESSFUL-PEOPLE-WEEKENDS-WORK-HABITS-facebook.jpg" alt="mujer">
				<div class="carousel-caption">
					Marta, 34 años, Bogota. 
				</div>
			</div>
			<div class="item">
				<img src="http://peoplecd.com/wp-content/uploads/2012/10/home_6.jpg" alt="hombre">
				<div class="carousel-caption">
					Jose, 32 años, Popayan
				</div>
			</div>
		</div>

		<!-- Controls -->
		<a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
			<span class="glyphicon glyphicon-chevron-left"></span>
		</a>
		<a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</div> <!-- end of carousel -->

